@import '../../../assets/scss/main.scss';

.links {
  color: $cream-color;
  border-top: 4px solid $cream-color;
  padding-top: 20px;

  ul.icons-list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 20px;

    li.icon {
      display: inline-block;
      padding-right: 25px;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  i.fa {
    font-size: 2.8rem;
  }

  a {
    color: $cream-color;
    transition: all .6s ease;
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */

    &:hover {
      color: white;
    }
  }

  .small {
    font-size: 1.3rem;
    transition: all .6s ease;
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    cursor: normal;
    color: $cream-color;
  }
}
